*.js
!lambda/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Ignore everything in textGenLambdaFolder
lambda/textGenLambdaFolder/*

# Ignore everything in textGenLambda ZIP since over 100 MB
lambda/textGenLambda.zip

# Ignore torch.zip since over 100 MB
layers/torch.zip