boto3
botocore
langchain
langchain-aws==0.2.29
langchain-core
langchain-experimental
langchain-postgres
python-dotenv
sqlalchemy
Pillow
PyPDF2==3.0.1
PyMuPDF==1.24.10
psycopg[binary,pool]
psycopg2-binary